@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	body {
		background: url(https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg);
		background-size: cover; /* Cubre todo el fondo */
		background-repeat: no-repeat;
		background-attachment: fixed; /* Fondo fijo al desplazarse */
		margin: 0; /* Elimina el margen predeterminado del cuerpo */
		overflow: hidden; /* Evita la barra de desplazamiento horizontal */
	}
	
nav{
	max-width:1000;
	margin: auto;
	background-color: #333;
	font-size: 13px;
	margin-top: 20px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;

}
.menu-horizontal > li > a{
	display: block;
	padding: 10px 5px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: rgb(233, 0, 0);
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 150px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-horizontal li:hover .menu-vertical{
	display: block;
}


.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding:10px 5px;
}

#html{
	margin: auto;
	padding: 10px;
	max-width: 400px;
	background: white;
	border: none;

}
.derecha {
    width: 45%;
    margin: 5px;
    height: 500px;
}
.izquierda {
    width: 52%;
    margin: 5px;
    height: 500px;
}



/* Estilo para el contenedor principal */
.container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 1;
    overflow-y: auto; /* Agregar barra de desplazamiento vertical cuando sea necesario */
}


.button-actualizar {
	float: right;
    background-color: rgba(219, 219, 26, 0.863); /* Fondo amarillo */
    color: black; /* Texto en negro */
    font-style: italic; /* Fuente en cursiva */
    padding: 10px 20px; /* Espacio alrededor del botón */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 5px; /* Bordes redondeados */
}

.button-actualizar:hover {
    background-color: #c2ac5496; /* Cambio de color al pasar el cursor */
}



.botton1 p{
	font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold; /* Añadir negrita al texto */
    color: #fff; /* Establecer el color del texto en blanco */
	
}



.botton1.a{
	font-family: 'Montserrat Alternates', sans-serif;
	color: #fff; /* Establecer el color del texto en blanco */
}


