*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	background-image: url('empinado.jpg');
  background-size: 100vw 130vh;
		background-repeat: no-repeat;
}

nav{
  max-width: 900px;
  margin: auto;
  background-color: #004845;
    font-size: 20px;
    margin-top: 50px;
}
.menu-horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.menu-horizontal > li > a{
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}
.menu-horizontal > li:hover{
  background-color: #0e0d0c;
}
.menu-vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgb(127, 255, 165);
}
.menu-horizontal li:hover .menu-vertical{
  display: block;
}
.menu-vertical li:hover{
  background-color: aquamarine;
}
.menu-vertical li a{
  display: block;
  color: white;
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  
}

