body {
   
    color: #ffffd2;
    font-family: Times, 'Times New Roman', serif;
}

h1{
    color: #051200;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #002700;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #004845;
}

tr {
    background-color: #17181fb7;
}

img {
    max-width: 50px;
    max-height: 50px;
}