html,
body{
    position:relative;
    height: 100%;

}
body{
    background-color: aquamarine;
    font-size: helvetica Neue, helvetica;
    font-size: 14px;
    color: black;
    margin: 0%;
    padding: 0%;
}
.swiper{
    width: 100%;
    padding: 150px 0 50px 0;
}
.swipe-slide{
    width: 300px;
    height: 500px;
    background-color: bisque;
    box-shadow: 0 0 20px #140f07;
    padding: 40px;
    text-align: center;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.icons img{
    display: 12px;
}
.product-txt{
    
}